<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Developed and Maintained by <a href="http://www.geratin.net/" target="_blank">Geratin Software Engineers</a> &copy;@DateTime.Today.Year. All rights reserved.</span>
    </div>
</footer>