﻿<script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="~/assets/js/todolist.js"></script>
<script src="~/assets/js/off-canvas.js"></script>
<script src="~/assets/js/hoverable-collapse.js"></script>
<script src="~/assets/js/misc.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/snackbar.js"></script>
<script src="~/Scripts/common.js"></script>