﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Page.Title: @Constant.APP_NAME</title>
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/css/style_default.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        @*Navbar Start*@
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../assets/images/logo_gt.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="http://geratin.net" target="_blank"><img src="../../assets/images/logo_mini_gt.png" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon text-primary text-white mr-0">
                            <i class="mdi @Page.HeaderIcon"></i>
                        </span> @Page.Title
                    </h3>
                    @*<nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>*@
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profile_dropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="../../assets/images/profile.png" alt="image">
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@UserSession.getUserFullName()</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profile_dropdown">
                            <a class="dropdown-item" href="/Account/ChangePassword"  id="change_password_link">
                                <i class="mdi mdi-lock mr-2 text-primary"></i> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Account/Logout">
                                <i class="mdi mdi-danger mr-2 text-primary"></i> Log Out
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen text-primary" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="/Account/Logout">
                            <i class="mdi mdi-logout text-danger"></i>
                        </a>
                    </li>
                    <!--<li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>-->
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        @*Navbar End*@
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @Html.Partial("~/Views/Shared/_Footer.cshtml")
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_ImportScripts.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>