<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!--<li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="nav-profile-image">
              <img src="../../assets/images/faces/face1.jpg" alt="profile">
              <span class="login-status online"></span>
              change to offline or busy as needed
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-2">David Grey. H</span>
              <span class="text-secondary text-small">Project Manager</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
          </a>
        </li>-->
        <li class="nav-item" id="dashboard_link">
            <a class="nav-link" href="/Dashboard/Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        @if (UserSession.hasAccessTo(EnumUserRole.patients, EnumAccessLevel.read)) {
            <li class="nav-item" id="patient_link">
                <a class="nav-link" href="/Patient/List">
                    <span class="menu-title">Patients</span>
                    <i class="mdi mdi-human menu-icon"></i>
                </a>
            </li>
        }
        @if (UserSession.hasAccessTo(EnumUserRole.consultations, EnumAccessLevel.read)) {
            <li class="nav-item" id="consultation_link">
                <a class="nav-link" href="/Consultation/List">
                    <span class="menu-title">Consultations</span>
                    <i class="mdi mdi-hospital-building menu-icon"></i>
                </a>
            </li>
        }
        @if (UserSession.hasAccessTo(EnumUserRole.operations, EnumAccessLevel.read)) {
            <li class="nav-item" id="operation_link">
                <a class="nav-link" href="/Operation/List">
                    <span class="menu-title">Operations</span>
                    <i class="mdi mdi-hospital menu-icon"></i>
                </a>
            </li>
        }
        @if (UserSession.hasAccessTo(EnumUserRole.prescriptions, EnumAccessLevel.read)) {
            <li class="nav-item" id="prescription_link">
                <a class="nav-link" href="/Prescription/List">
                    <span class="menu-title">Prescriptions</span>
                    <i class="mdi mdi-format-letter-case menu-icon"></i>
                </a>
            </li>
        }
        @if (UserSession.hasAccessTo(EnumUserRole.referrals, EnumAccessLevel.read)) {
            <li class="nav-item" id="referral_link">
                <a class="nav-link" href="/Referral/List">
                    <span class="menu-title">Referrals</span>
                    <i class="mdi mdi-send menu-icon"></i>
                </a>
            </li>
        }
        @if (UserSession.hasAccessTo(EnumUserRole.users, EnumAccessLevel.read)) {
            <li class="nav-item" id="user_link">
                <a class="nav-link" href="/User/List">
                    <span class="menu-title">Users</span>
                    <i class="mdi mdi-worker menu-icon"></i>
                </a>
            </li>
            bool _bHasBranchAccess = UserSession.hasAccessTo(EnumUserRole.branches, EnumAccessLevel.read);
            bool _bHasDiagnosisAccess = UserSession.hasAccessTo(EnumUserRole.diagnoses, EnumAccessLevel.read);
            bool _bHasSymptomAccess = UserSession.hasAccessTo(EnumUserRole.symptoms, EnumAccessLevel.read);
            bool _bHasMedicalStockAccess = UserSession.hasAccessTo(EnumUserRole.medical_stock_item, EnumAccessLevel.read);
            bool _bHasMedicalAidCompanyAccess = UserSession.hasAccessTo(EnumUserRole.medical_aid_company, EnumAccessLevel.read);
            if (_bHasBranchAccess || _bHasDiagnosisAccess || _bHasSymptomAccess || _bHasMedicalStockAccess || _bHasMedicalAidCompanyAccess) {
                <li class="nav-item" id="content_link">
                    <a class="nav-link collapsed" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                        <span class="menu-title">Content Management</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-contain menu-icon"></i>
                    </a>
                    <div class="collapse" id="general-pages">
                        <ul class="nav flex-column sub-menu">
                            @if (_bHasBranchAccess) {
                                <li class="nav-item"> <a id="branch_link" class="nav-link" href="/Branch/List">Branches </a></li>
                            }
                            @if (_bHasDiagnosisAccess) {
                                <li class="nav-item"> <a id="diagnosis_link" class="nav-link" href="/Diagnosis/List"> Diagnoses </a></li>
                            }
                            @if (_bHasSymptomAccess) {
                                <li class="nav-item"> <a id="symptom_link" class="nav-link" href="/Symptom/List"> Symptoms </a></li>
                            }
                            @if (_bHasMedicalStockAccess) {
                                <li class="nav-item"> <a id="medical_stock_item_link" class="nav-link" href="/MedicalStockItem/List"> Medical Stock Items </a></li>
                            }
                            @if (_bHasMedicalAidCompanyAccess) {
                                <li class="nav-item"> <a id="medical_aid_company_link" class="nav-link" href="/MedicalAidCompany/List"> Medical Aid Company </a></li>
                            }
                        </ul>
                    </div>
                </li>
            }
        }
        @if (UserSession.hasAccessTo(EnumUserRole.settings, EnumAccessLevel.write)) {
            <li class="nav-item" id="setting_link">
                <a class="nav-link" href="/Settings/Edit">
                    <span class="menu-title">Settings</span>
                    <i class="mdi mdi-settings menu-icon"></i>
                </a>
            </li>
        } else if (UserSession.hasAccessTo(EnumUserRole.settings, EnumAccessLevel.read)) {
            <li class="nav-item" id="setting_link">
                <a class="nav-link" href="/Settings/Detail">
                    <span class="menu-title">Settings</span>
                    <i class="mdi mdi-settings menu-icon"></i>
                </a>
            </li>
        }
    </ul>
</nav>