﻿@model PatientRegister.Models.Patient
@{
    Page.Title = "View Configuration Settings";
    Page.HeaderIcon = "mdi-settings";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="@((int)EnumConfiguration.practice_name)">Practise Name:</label>
                            <label class="d-block text-black">@ViewBag.PractiseName</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="@((int)EnumConfiguration.referral_record_count)">Referral Record Count:</label>
                            <label class="d-block text-black">@ViewBag.ReferralCount</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-danger" href="/Dashboard/Index/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            updateMenuItemAsActive('setting_link');
        });
    </script>
}