﻿@model PatientRegister.Models.Patient
@{
    Page.Title = "Configuration Settings";
    Page.HeaderIcon = "mdi-settings";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="@((int)EnumConfiguration.practice_name)">Practise Name:</label>
                            <input type="text" class="form-control" id="@((int)EnumConfiguration.practice_name)" name="@((int)EnumConfiguration.practice_name)" placeholder="Practise Name *" value="@ViewBag.PractiseName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="@((int)EnumConfiguration.referral_record_count)">Referral Record Count:</label>
                            <input style="width: 200px" type="text" class="form-control" id="@((int)EnumConfiguration.referral_record_count)" name="@((int)EnumConfiguration.referral_record_count)" placeholder="Referral Record Count *" value="@ViewBag.ReferralCount">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.settings)', '@("/Settings/Save/")','form_save')">Submit</button>
                        <a class="btn btn-danger" href="/Dashboard/Index/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $("#@((int)EnumConfiguration.practice_name)").focus();
            updateMenuItemAsActive('setting_link');
        });
    </script>
}