﻿@using PatientRegister.Models;
@model IEnumerable<FileUpload>

<label class="font-weight-bold  mt-3" style="color:#76838f;">Uploaded:</label>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No files/documents.</p>")
        return;
    }
}
<ul class="d-flex flex-column-reverse todo-list todo-list-custom w-100">
    @{
        foreach (FileUpload _File in Model) {
            <li>
                <a href="~/Uploads/@_File.ServerName" download="@_File.GivenName"><i class="download mdi mdi-cloud-download-outline text-info"></i></a> &nbsp;&nbsp;
                <label style="width:90%;">
                    @Path.GetFileNameWithoutExtension(_File.GivenName)
                    <i>(@Path.GetExtension(_File.GivenName).ToUpper().Replace(".", "") file, created @Conv.toDate(_File.DateUploaded.ToString()))</i>
                </label>
                <i class="remove mdi mdi-close-circle-outline text-primary" onclick="removeFile('@_File.FileUploadID');"></i>
            </li>
        }
    }
</ul>