﻿@model PatientRegister.Models.Patient
@{
    Page.Title = "Change Password: " + UserSession.getUserEmail();
    Page.HeaderIcon = "mdi-lock";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Password">Current Password:</label>
                            <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" placeholder="Current Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="NewPassword">New Password:</label>
                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ConfirmNewPassword">Confirm New Password:</label>
                            <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="Confirm New Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.change_password)', '@("/Account/ChangePassword/")','form_save')">Submit</button>
                        <a class="btn btn-danger" href="/Dashboard/Index/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $("#CurrentPassword").focus();
            updateMenuItemAsActive('user_link');
            updateMenuItemAsActive('change_password_link');
        });
    </script>
}