﻿@using PatientRegister.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login: @Constant.APP_NAME</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style_default.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-3 w-100">
                            <div class="brand-logo">
                                <img src="../../assets/images/logo_gt.png">
                            </div>
                            <h6 class="page-title text-center"><b>@Configuration.getValue(EnumConfiguration.practice_name)</b></h6><br />
                            <h6 class="page-title text-center">@Constant.APP_NAME @("v" + Constant.APP_VERSION)</h6>
                            <br />
                            @*<h6 class="text-gray">Log in to continue</h6>*@
                            <form class="pt-0 w-100" id="form_save">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control" id="Email" name="Email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control" id="Password" name="Password" placeholder="Password">
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted d-inline">
                                            <input type="checkbox" class="form-check-input" name="RememberMe" id="RememberMe" checked> Keep me logged in
                                        </label>
                                    </div>
                                </div>
                                <div class="w-100">
                                    <div class="d-inline pull-left align-middle">
                                        <button type="button" class="btn btn-gradient-primary mr-3" onclick="handleRequest('@((int)EnumRequestType.login)', '@("/Login/Try/")','form_save')">Log in</button>
                                    </div>
                                    <div class="d-inline float-right align-middle pt-2">
                                        <a href="/Account/ForgotPassword/" class="auth-link">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_ImportScripts.cshtml")
    <script>
        $(function () {
            $("#Email").focus();
        });
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.login)', '@("/Login/Try/")', 'form_save');
            }
        });
    </script>
</body>
</html>