﻿@{
    ViewBag.Title = "Medical Stock Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Dashboard";
    Page.HeaderIcon = "mdi-home";
}
@*<div class="row" id="proBanner">
        <div class="col-12">
            <span class="d-flex align-items-center purchase-popup">
                <p>Like what you see? Check out our premium version for more.</p>
                <a href="https://github.com/BootstrapDash/PurpleAdmin-Free-Admin-Template" target="_blank" class="btn ml-auto download-button">Download Free Version</a>
                <a href="https://www.bootstrapdash.com/product/purple-bootstrap-4-admin-template/" target="_blank" class="btn purchase-button bg-gradient-success">Upgrade To Pro</a>
                <i class="mdi mdi-close" id="bannerClose"></i>
            </span>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body pl-3 pr-2">
                <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    New Patients <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@ViewBag.PatientsThisMonth</h2>
                <h6 class="card-text">@ViewBag.PatientsChange</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body pl-3 pr-2">
                <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Monthly Consultations <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@ViewBag.ConsultationsThisMonth</h2>
                <h6 class="card-text">@ViewBag.ConsultationsChange</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body pl-3 pr-2">
                <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Monthly Operations <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@ViewBag.OperationsThisMonth</h2>
                <h6 class="card-text">@ViewBag.OperationsChange</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pl-3 pr-2">
                <div class="clearfix">
                    <h4 class="card-title float-left">Consultations by Gender (last 6 months)</h4>
                    <div id="consultations-by-gender-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                </div>
                <canvas id="consultations-by-gender" class="mt-4"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pl-3 pr-2">
                <h4 class="card-title">Medical Aid Popularity</h4>
                <canvas id="medical-aid-popularity"></canvas>
                <div id="medical-aid-popularity-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var ctx = document.getElementById('consultations-by-gender').getContext("2d");
        var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
        gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
        gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');
        var gradientLegendViolet = 'linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1))';

        var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 360);
        gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
        gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
        var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

        var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 300);
        gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
        gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
        var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

        var gradientStrokeGreen = ctx.createLinearGradient(0, 0, 0, 300);
        gradientStrokeGreen.addColorStop(0, 'rgba(6, 185, 157, 1)');
        gradientStrokeGreen.addColorStop(1, 'rgba(132, 217, 210, 1)');
        var gradientLegendGreen = 'linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))';
        var var_labels = ['@Html.Raw(string.Join("','", (ViewBag.MonthLabels as List<string>).ToArray()))'];
        var var_gender_data = [
            {
                label: "MALE",
                borderColor: gradientStrokeViolet,
                backgroundColor: gradientStrokeViolet,
                hoverBackgroundColor: gradientStrokeViolet,
                legendColor: gradientLegendViolet,
                pointRadius: 0,
                fill: false,
                borderWidth: 1,
                fill: 'origin',
                data:[@(string.Join(",", (ViewBag.MaleData as List<int>).ToArray()))]
            },
            {
                label: "FEMALE",
                borderColor: gradientStrokeRed,
                backgroundColor: gradientStrokeRed,
                hoverBackgroundColor: gradientStrokeRed,
                legendColor: gradientLegendRed,
                pointRadius: 0,
                fill: false,
                borderWidth: 1,
                fill: 'origin',
               data:[@(string.Join(",", (ViewBag.FemaleData as List<int>).ToArray()))]
            },
            {
                label: "TOTAL",
                borderColor: gradientStrokeBlue,
                backgroundColor: gradientStrokeBlue,
                hoverBackgroundColor: gradientStrokeBlue,
                legendColor: gradientLegendBlue,
                pointRadius: 0,
                fill: false,
                borderWidth: 1,
                fill: 'origin',
                data:[@(string.Join(",", (ViewBag.TotalData as List<int>).ToArray()))]
            }
        ];
        var var_medical_aid_company_labels = ['@Html.Raw(string.Join("','", (ViewBag.MedicalAidNameList as List<string>).ToArray()))'];
        var var_medical_aid_pop_data = [@(string.Join(",", (ViewBag.MedicalAidCountList as List<int>).ToArray()))];

        $(function () {
            updateMenuItemAsActive('dashboard_link');
        });
    </script>
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
}