﻿@model PatientRegister.Models.Diagnosis
@{
    Page.Title = "View Health Diagnosis";
    Page.HeaderIcon = "mdi-contain";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form" id="form_save">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" name="DiagnosisID" id="DiagnosisID" value="@(Model.DiagnosisID == Guid.Empty ? Guid.NewGuid() : Model.DiagnosisID)">
                            <label for="name">Status:</label>
                            <label class="d-block text-black">@Model.Status.Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <label class="d-block text-black">@Model.Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-danger" href="/Diagnosis/List">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            updateMenuItemAsActive('content_link');
            updateMenuItemAsActive('diagnosis_link');
        });
    </script>
}