﻿@using PatientRegister.Models;
@model IEnumerable<Diagnosis>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.diagnoses, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (Diagnosis _Diagnosis in Model) {
                <tr>
                    <td><a href="/Diagnosis/@_sPage/@_Diagnosis.DiagnosisID">@_Diagnosis.Name</a></td>
                    <td> @_Diagnosis.Status.Name</td>
                </tr>
            }
        }
    </tbody>
</table>