﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.UserClass
@{
    Page.Title = "User Account";
    Page.HeaderIcon = "mdi-worker";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="UserID" id="UserID" value="@(Model.UserID == Guid.Empty ? Guid.NewGuid() : Model.UserID)">
                <div class="col-md-8">
                    <div class="form-group">
                        <a class="btn btn-danger" href="/User/List">Cancel</a>
                    </div>
                </div>
                <p class="card-description">Detail</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block" for="StatusID">Status:</label>
                            <label class="d-block text-black">@Model.Status.Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block" for="StaffTypeID">Staff Type:</label>
                            <label class="d-block text-black">@Model.StaffType.Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <label class="d-block text-black">@Model.Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Surname">Surname:</label>
                            <label class="d-block text-black">@Model.Surname</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Email:</label>
                            <label class="d-block text-black">@Model.Email</label>
                        </div>
                    </div>
                </div>
                <p class="card-description">Role Access</p>
                <div class="row col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role Description</th>
                                <th>Role Access</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserRoleAccess _UserRoleAccess in UserClass.getAccessRoleList(Model.UserID.ToString())) {
                                <tr>
                                    <td> @_UserRoleAccess.UserRole.Name</td>
                                    <td>
                                        <div class="form-group row m-0">
                                            <div class="form-check mr-3 mb-0">
                                                <label class="form-check-label align-middle mb-0">
                                                    <input type="radio" class="form-check-input" name="@(_UserRoleAccess.UserRoleID)" value="@((int)EnumAccessLevel.none)" disabled
                                                           @if (_UserRoleAccess.AccessLevelID == (int)EnumAccessLevel.none) { @Html.Raw(" checked") }> None
                                                </label>
                                            </div>
                                            <div class="form-check mr-3 mb-0">
                                                <label class="form-check-label align-middle mb-0">
                                                    <input type="radio" class="form-check-input" name="@(_UserRoleAccess.UserRoleID)" value="@((int)EnumAccessLevel.read)" disabled
                                                           @if (_UserRoleAccess.AccessLevelID == (int)EnumAccessLevel.read) { @Html.Raw(" checked") }> Read
                                                </label>
                                            </div>
                                            <div class="form-check mr-3 mb-0">
                                                <label class="form-check-label align-middle mb-0">
                                                    <input type="radio" class="form-check-input" name="@(_UserRoleAccess.UserRoleID)" value="@((int)EnumAccessLevel.write)" disabled
                                                           @if (_UserRoleAccess.AccessLevelID == (int)EnumAccessLevel.write) { @Html.Raw(" checked") }> Write
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <div class="list-wrapper w-100" id="FileList">
                <br /> Loading content...<br /><br /><br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="/User/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
            function refreshFileList() {
                getListFiles($("#UserID").val(), '@((int)EnumFileEntityType.user)');
            }
        $(function () {
            updateMenuItemAsActive('user_link');
            @if (Model.UserID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
    </script>
}