﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.UserClass
@{
    Page.Title = "User Account";
    Page.HeaderIcon = "mdi-worker";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="UserID" id="UserID" value="@(Model.UserID == Guid.Empty ? Guid.NewGuid() : Model.UserID)">
                <div class="col-md-8">
                    <div class="form-group">
                        <a class="btn btn-danger" href="/User/List">Cancel</a>
                    </div>
                </div>
                <p class="card-description">Detail</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block" for="StatusID">Status:</label>
                            <select class="form-control d-inline" id="StatusID" name="StatusID" style="width:120px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Status>.getSelectData(Model.StatusID.ToString(), "", new List<int> { ((int)EnumStatus.deleted) })) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="d-block" for="StaffTypeID">Staff Type:</label>
                            <select class="form-control d-inline" id="StaffTypeID" name="StaffTypeID" style="width:180px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<StaffType>.getSelectData(Model.StaffTypeID.ToString(), "-- Select Staff Type --", new List<int> { ((int)EnumStaffType.none) })) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Surname">Surname:</label>
                            <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Surname" value="@Model.Surname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Email:</label>
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="@Model.Email">
                        </div>
                    </div>
                </div>
                <p class="card-description">Role Access</p>
                <div class="row col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Role Description</th>
                                <th>Role Access</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserRoleAccess _UserRoleAccess in UserClass.getAccessRoleList(Model.UserID.ToString())) {
                                <tr>
                                    <td> @_UserRoleAccess.UserRole.Name</td>
                                    <td>
                                        <div class="form-group row m-0">
                                            <div class="form-check mr-3 mb-0">
                                                <label class="form-check-label align-middle mb-0">
                                                    <input type="radio" class="form-check-input" name="@(_UserRoleAccess.UserRoleID)" value="@((int)EnumAccessLevel.none)"
                                                           @if (_UserRoleAccess.AccessLevelID == (int)EnumAccessLevel.none) { @Html.Raw(" checked") }> None
                                                </label>
                                            </div>
                                            <div class="form-check mr-3 mb-0">
                                                <label class="form-check-label align-middle mb-0">
                                                    <input type="radio" class="form-check-input" name="@(_UserRoleAccess.UserRoleID)" value="@((int)EnumAccessLevel.read)"
                                                           @if (_UserRoleAccess.AccessLevelID == (int)EnumAccessLevel.read) { @Html.Raw(" checked") }> Read
                                                </label>
                                            </div>
                                            <div class="form-check mr-3 mb-0">
                                                <label class="form-check-label align-middle mb-0">
                                                    <input type="radio" class="form-check-input" name="@(_UserRoleAccess.UserRoleID)" value="@((int)EnumAccessLevel.write)"
                                                           @if (_UserRoleAccess.AccessLevelID == (int)EnumAccessLevel.write) { @Html.Raw(" checked") }> Write
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <label class="font-weight-bold" id="files_section_new" style="color:#76838f; display: none;">Upload New:</label>
            <div class="row" id="files_section_upload" style="display: none;">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" method="post">
                        <div class="uploadButton margin-top-0">
                            <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input" onchange="uploadOnSelect( '@(( int )EnumFileEntityType.user)', 'upload', '@Model.UserID');" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_user)', '@("/User/Save/")','form_save')">Submit</button>
                    @if (Model.UserID != Guid.Empty) {
                        <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_user)', '@("/User/ResetPassword/" + Model.UserID)','form_save')">Reset Password</button>
                    }
                    <a class="btn btn-danger" href="/User/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
            function refreshFileList() {
                getListFiles($("#UserID").val(), '@((int)EnumFileEntityType.user)');
            }
        $(function () {
            $("#StaffTypeID").focus();
            updateMenuItemAsActive('user_link');
            @if (Model.UserID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
          $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.save_user)', '@("/User/Save/")', 'form_save');
            }
        });
    </script>
}