﻿@using PatientRegister.Models;
@model IEnumerable<UserClass>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Staff Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.users, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (UserClass _UserClass in Model) {
                <tr>
                    <td><a href="/User/@_sPage/@_UserClass.UserID">@(string.Concat(_UserClass.Surname, " ", _UserClass.Name))</a></td>
                    <td> @_UserClass.Email</td>
                    <td> @_UserClass.StaffType.Name</td>
                    <td> @_UserClass.Status.Name</td>
                </tr>
            }
        }
    </tbody>
</table>
