/* Fonts */

//PT_Sans
@font-face {
  font-family: 'garamond-regular';
  src: url('../fonts/garamond/garamond-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/garamond/garamond-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/garamond/garamond-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/garamond/garamond-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'garamond-regular';
  src: url('../fonts/garamond/garamond-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/garamond/garamond-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/garamond/garamond-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/garamond/garamond-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'garamond-regular';
  src: url('../fonts/garamond/garamond-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/garamond/garamond-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/garamond/garamond-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/garamond/garamond-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'garamond-bold';
  src: url('../fonts/garamond/garamond-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/garamond/garamond-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/garamond/garamond-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/garamond/garamond-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
