﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Consultation
@{
    Page.Title = "View Consultation" + (Model.ConsultationID != Guid.Empty ? " for " + Model.Patient.PatientNo : "");
    Page.HeaderIcon = "mdi-hospital-building";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="ConsultationID" id="ConsultationID" value="@(Model.ConsultationID == Guid.Empty ? Guid.NewGuid() : Model.ConsultationID)">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <a class="btn btn-danger" href="/Consultation/List">Cancel</a>
                        </div>
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <label class="d-block text-black">@Model.Patient.Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Doctor:</label>
                        <label class="d-block text-black">@string.Concat(Model.Doctor.Surname, " ", Model.Doctor.Name) </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.ConsultationID != Guid.Empty ? Model.Date.ToString() : DateTime.Today.ToString(), false, true)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Temperature">Temperature:</label>
                            <label class="d-block text-black">@Model.Temperature</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="BloodPressure">Blood Pressure:</label>
                            <label class="d-block text-black">@Model.BloodPressure </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Weight">Weight:</label>
                            <label class="d-block text-black">@Model.Weight </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="NextVisitDate">Next Visit Date:</label>
                            <label class="d-block text-black">@Model.Weight </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SummaryComment">Summary Comment:</label>
                            <label class="d-block text-black">@Model.SummaryComment </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="DetailedComment">Detailed Comment:</label>
                            <label class="d-block text-black">@Model.DetailedComment </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="SymptomDiagnosisBlock" style="display:none;">
                    <div class="col-md-6 stretch-card pl-0 ml-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description">Symptoms</h4>
                                <div class="list-wrapper" id="SymptomList">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description"> Diagnoses</h4>
                                <div class="list-wrapper" id="DiagnosisList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="MedicationBlock" style="display:none;">
                    <div class="col-md-12 stretch-card pl-0 ml-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description">Medication</h4>
                                <div class="list-wrapper" id="MedicationList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="/Consultation/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshFileList() {
            getListFiles($("#ConsultationID").val(), '@((int)EnumFileEntityType.consultation)');
        }

        $(function () {
            updateMenuItemAsActive('consultation_link');
           @if (Model.ConsultationID != Guid.Empty) {
                 @Html.Raw("refreshAllLinkedRecords();")
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
    </script>
}