﻿@using PatientRegister.Models;
@model IEnumerable<ConsultationDiagnosis>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records.</p>")
        return;
    }
}
<ul class="d-flex flex-column-reverse todo-list todo-list-custom">
    @{
        foreach (ConsultationDiagnosis _ConsultationDiagnosis in Model) {
            <li>
                <label style="width:90%;">
                    @_ConsultationDiagnosis.Diagnosis.Name
                </label>
                @if (UserSession.hasAccessTo(EnumUserRole.consultations, EnumAccessLevel.write)) {
                    <i class="remove mdi mdi-close-circle-outline text-primary" onclick="removeDiagnosis('@_ConsultationDiagnosis.ConsultationDiagnosisID','@_ConsultationDiagnosis.DiagnosisID');"></i>
                }
            </li>
        }
    }
</ul>