﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Consultation
@{
    Page.Title = "Consultation" + (Model.ConsultationID != Guid.Empty ? " for " + Model.Patient.PatientNo : "");
    Page.HeaderIcon = "mdi-hospital-building";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="ConsultationID" id="ConsultationID" value="@(Model.ConsultationID == Guid.Empty ? Guid.NewGuid() : Model.ConsultationID)">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <a class="btn btn-danger" href="/Consultation/List">Cancel</a>
                        </div>
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <select class="form-control" id="PatientID" name="PatientID" style="width:auto">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Patient>.getSelectData(Model.PatientID.ToString(), "-- Select Patient --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Doctor:</label>
                        <select class="form-control" id="DoctorID" name="DoctorID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.DoctorID.ToString(), "-- Select Doctor --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <input class="form-control" name="Date" id="Date" placeholder="dd/mm/yyyy" style="width:105px" value="@Conv.toDate( Model.ConsultationID != Guid.Empty ? Model.Date.ToString() : DateTime.Today.ToString(), false, true)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Temperature">Temperature:</label>
                            <input type="number" class="form-control" id="Temperature" name="Temperature" placeholder="Temperature" value="@Model.Temperature">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="BloodPressure">Blood Pressure:</label>
                            <input type="number" class="form-control" id="BloodPressure" name="BloodPressure" placeholder="BloodPressure" value="@Model.BloodPressure">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Weight">Weight:</label>
                            <input type="number" class="form-control" id="Weight" name="Weight" placeholder="Weight" value="@Model.Weight">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="NextVisitDate">Next Visit Date:</label>
                            <input class="form-control" name="NextVisitDate" id="NextVisitDate" placeholder="Next Visit" style="width:105px" value="@(Model.ConsultationID != Guid.Empty && Model.NextVisitDate != null  ? Conv.toDate(Model.NextVisitDate.ToString(), false, true) : "")" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SummaryComment">Summary Comment:</label>
                            <input type="text" class="form-control" id="SummaryComment" name="SummaryComment" placeholder="Summary Comment" value="@Model.SummaryComment">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="DetailedComment">Detailed Comment:</label>
                            <input type="text" class="form-control" id="DetailedComment" name="DetailedComment" placeholder="Detailed Comment" value="@Model.DetailedComment">
                        </div>
                    </div>
                </div>
                <div class="row" id="SymptomDiagnosisBlock" style="display:none;">
                    <div class="col-md-6 stretch-card pl-0 ml-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description">Symptoms</h4>
                                <div>
                                    <div class="form-group w-100">
                                        <label for="name" class="d-block">Select Symptom to add:</label>
                                        <select class="form-control d-inline" id="SymptomID" name="SymptomID" style="width:75%">
                                            @{
                                                string _sDisable = "";
                                                IEnumerable<ConsultationSymptom> _ConsultationSymptoms = Model.getSymptoms();
                                                foreach (SelectListItem _Item in LookupRepo<Symptom>.getSelectData("", "-- Select Symptom --")) {
                                                    _sDisable = (_ConsultationSymptoms.ToList().Find(_RecX => _RecX.Deleted == (int)EnumYesNo.no && _RecX.SymptomID.ToString() == _Item.Value) == null ? "" : "disabled");
                                                    <option @_sDisable value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <button class="add btn btn-gradient-primary todo-list-add-btn" id="add-task" onclick="addSymptom();">Add</button>
                                    </div>
                                </div>
                                <div class="list-wrapper" id="SymptomList">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description"> Diagnoses</h4>
                                <div>
                                    <div class="form-group w-100">
                                        <label for="name" class="d-block">Select Diagnosis to add:</label>
                                        <select class="form-control d-inline pull-left" id="DiagnosisID" name="DiagnosisID" style="width:75%">
                                            @{
                                                IEnumerable<ConsultationDiagnosis> _ConsultationDiagnosis = Model.getDiagnses();
                                                foreach (SelectListItem _Item in LookupRepo<Diagnosis>.getSelectData("", "-- Select Diagnosis --")) {
                                                    _sDisable = (_ConsultationDiagnosis.ToList().Find(_RecX => _RecX.Deleted == (int)EnumYesNo.no && _RecX.DiagnosisID.ToString() == _Item.Value) == null ? "" : "disabled");
                                                    <option @_sDisable value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <button class="add btn btn-gradient-primary todo-list-add-btn pull-right" id="add-task" onclick="addDiagnosis();">Add</button>
                                    </div>
                                </div>
                                <div class="list-wrapper" id="DiagnosisList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="MedicationBlock" style="display:none;">
                    <div class="col-md-12 stretch-card pl-0 ml-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description">Medication</h4>
                                <div>
                                    <div class="form-group w-100">
                                        <label for="name" class="d-block">Select Medical item detail to add: </label>
                                        <select class="form-control d-inline" id="MedicationID" name="MedicationID" style="width:200px">
                                            @{
                                                _sDisable = "";
                                                IEnumerable<ConsultationMedication> _ConsultationMedications = Model.getMedications();
                                                foreach (SelectListItem _Item in LookupRepo<MedicalStockItem>.getSelectData("", "-- Select Medication --")) {
                                                    _sDisable = (_ConsultationMedications.ToList().Find(_RecX => _RecX.Deleted == (int)EnumYesNo.no && _RecX.MedicalStockItemID.ToString() == _Item.Value) == null ? "" : "disabled");
                                                    <option @_sDisable value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <input type="number" class="form-control d-inline" id="Quantity" name="Quantity" placeholder="Quantity" value="" style="width:100px" min="0">
                                        <select class="form-control d-inline" id="MeasurementUnitID" name="MeasurementUnitID" style="width:260px">
                                            @{
                                                foreach (SelectListItem _Item in LookupRepo<MeasurementUnit>.getSelectData("", "-- Measurement in..? --")) {
                                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <input type="number" class="form-control d-inline" id="TimeLength" name="TimeLength" placeholder="Dosage Period" value="" style="width:140px" min="1">
                                        <select class="form-control d-inline" id="TimeUnitID" name="TimeUnitID" style="width:120px">
                                            @{
                                                foreach (SelectListItem _Item in LookupRepo<TimeUnit>.getSelectData("", "-- Period in..? --")) {
                                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <button class="add btn btn-gradient-primary todo-list-add-btn" id="add-task" onclick="addMedication();">Add</button>
                                    </div>
                                </div>
                                <div class="list-wrapper" id="MedicationList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <label class="font-weight-bold" id="files_section_new" style="color:#76838f; display: none;">Upload New:</label>
            <div class="row" id="files_section_upload" style="display: none;">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" method="post">
                        <div class="uploadButton margin-top-0">
                            <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input" onchange="uploadOnSelect( '@(( int )EnumFileEntityType.consultation)', 'upload', '@Model.ConsultationID');" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_consultation)', '@("/Consultation/Save/")','form_save')">Submit</button>
                    <a class="btn btn-danger" href="/Consultation/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshFileList() {
            getListFiles($("#ConsultationID").val(), '@((int)EnumFileEntityType.consultation)');
        }

        $(function () {
            $("#PatientID").focus();
            updateMenuItemAsActive('consultation_link');
            $('#Date').datetimepicker({  format: 'dd/mm/yyyy', minView: 2, pickTime: false  });
            $('#NextVisitDate').datetimepicker({ format: 'dd/mm/yyyy', minView: 2, pickTime: false });
           @if (Model.ConsultationID != Guid.Empty) {
                 @Html.Raw("refreshAllLinkedRecords();")
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
            $("#MedicationID").val('');
            $("#Quantity").val('');
            $("#MeasurementUnitID").val('');
            $("#TimeLength").val('');
            $("#TimeUnitID").val('');
        });
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.save_consultation)', '@("/Consultation/Save/")', 'form_save');
            }
        });
    </script>
}