﻿@using PatientRegister.Models;
@model IEnumerable<Consultation>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient No.</th>
            <th>Medical Aid</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Next Visit Date</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.consultations, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (Consultation _Consultation in Model) {
                <tr>
                    <td><a href="/Consultation/@_sPage/@_Consultation.ConsultationID">@(string.Concat(_Consultation.Patient.Surname, " ", _Consultation.Patient.Name))</a></td>
                    <td> @_Consultation.Patient.PatientNo</td>
                    <td> @(_Consultation.Patient.MedicalAidCompany != null && _Consultation.Patient.MedicalAidCompany.MedicalAidCompanyID != Guid.Empty ? _Consultation.Patient.MedicalAidCompany.Name : "N/A")</td>
                    <td> @Conv.toDate(_Consultation.Date.ToString(), false, true)</td>
                    <td> @(string.Concat(_Consultation.Doctor.Surname, " ", _Consultation.Doctor.Name))</td>
                    <td> @(_Consultation.NextVisitDate == null ? "" : Conv.toDate(_Consultation.NextVisitDate.ToString()))</td>
                    <td> @_Consultation.SummaryComment</td>
                </tr>
            }
        }
    </tbody>
</table>
