﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@{
    Page.Title = "Consultations";
    Page.HeaderIcon = "mdi-hospital-building";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-12">
                        @if (UserSession.hasAccessTo(EnumUserRole.consultations, EnumAccessLevel.write)) {
                            <a class="btn btn-gradient-info" href="/Consultation/Create">Add New</a>
                        }
                        <select class="form-control d-inline" id="PatientID" name="PatientID" style="width:140px" onchange="refreshList();">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<Patient>.getSelectData("", "All Patients")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                        <select class="form-control d-inline" id="DoctorID" name="DoctorID" style="width:120px" onchange="refreshList();">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData("", "All Doctors")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                        <select class="form-control d-inline" id="MedicalAidCompanyID" name="MedicalAidCompanyID" style="width:140px" onchange="refreshList();">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<MedicalAidCompany>.getSelectData("", "All Medical Aid Companies")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                        <input class="form-control d-inline" name="DateFrom" id="DateFrom" placeholder="dd/mm/yyyy" style="width:105px" value="@DateTime.Today.AddDays(-30).ToString(Constant.DATE_FORMAT_SHORT)" onchange="refreshList();" /> -
                        <input class="form-control d-inline" name="DateTo" id="DateTo" placeholder="dd/mm/yyyy" style="width:105px" value="@DateTime.Today.ToString(Constant.DATE_FORMAT_SHORT)" onchange="refreshList();" />
                        <input type="text" class="form-control bg-transparent d-inline w-25" placeholder="Search Consultations..." id="SearchText" onkeyup="refreshList();">
                        <a href="#" onclick="refreshList();">refresh</a> •
                        <a href="#" id="download_pdf">pdf</a> • 
                        <a href="#" id="download_excel">excel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3" id="SearchResult">
                        <p>Loading records...</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshList() {
            var Data = {
                DoctorID: $("#DoctorID").val(),
                PatientID: $("#PatientID").val(),
                MedicalAidCompanyID: $("#MedicalAidCompanyID").val(),
                DateFrom: datePickerDateToSql($("#DateFrom").val()),
                DateTo: datePickerDateToSql($("#DateTo").val()),
                SearchText: $("#SearchText").val()
            };
            handleRequest('@((int)EnumRequestType.get_list)', '@("/Consultation/ListView/")', Data);
        }

        $(function () {
            updateMenuItemAsActive('consultation_link');
            $('#DateFrom').datetimepicker({  format: 'dd/mm/yyyy', minView: 2, pickTime: false });
            $('#DateTo').datetimepicker({ format: 'dd/mm/yyyy', minView: 2, pickTime: false });
            refreshList();
            $("#SearchText").focus();
            $("#download_excel").on("click", function () {
                 var Data = {
                    MedicalAidCompanyID: $("#MedicalAidCompanyID").val(),
                    DateFrom: datePickerDateToSql($("#DateFrom").val()),
                    DateTo: datePickerDateToSql($("#DateTo").val()),
                    SearchText: $("#SearchText").val(),
                };
                downloadFileFromRequest("/Consultation/DownloadExcel/", Data);
            });
            $("#download_pdf").on("click", function () {
                var Data = {
                    MedicalAidCompanyID: $("#MedicalAidCompanyID").val(),
                    DateFrom: datePickerDateToSql($("#DateFrom").val()),
                    DateTo: datePickerDateToSql($("#DateTo").val()),
                    SearchText: $("#SearchText").val(),
                };
                downloadFileFromRequest("/Consultation/DownloadPdf/", Data);
            });
        });
         $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                refreshList();
            }
        });
    </script>
}