﻿@using PatientRegister.Models;
@model IEnumerable<ConsultationMedication>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records.</p>")
        return;
    }
}
<ul class="d-flex flex-column-reverse todo-list todo-list-custom">
    @{
        foreach (ConsultationMedication _ConsultationMedication in Model) {
            <li>
                <label style="width:75%">
                    @_ConsultationMedication.MedicalStockItem.Name: @_ConsultationMedication.Quantity @_ConsultationMedication.MeasurementUnit.Name.ToLower() for @_ConsultationMedication.TimeLength @_ConsultationMedication.TimeUnit.Name.ToLower()
                </label>
                @if (UserSession.hasAccessTo(EnumUserRole.consultations, EnumAccessLevel.write)) {
                    <i class="remove mdi mdi-close-circle-outline text-primary" onclick="removeMedication('@_ConsultationMedication.ConsultationMedicationID', '@_ConsultationMedication.MedicalStockItemID');"></i>
                }
            </li>
        }
    }
</ul>