﻿@using PatientRegister.Models;
@model IEnumerable<ConsultationSymptom>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records.</p>")
        return;
    }
}
<ul class="d-flex flex-column-reverse todo-list todo-list-custom w-100">
    @{
        foreach (ConsultationSymptom _ConsultationSymptom in Model) {
            <li>
                <label style="width:90%;">
                    @_ConsultationSymptom.Symptom.Name
                </label>
                @if (UserSession.hasAccessTo(EnumUserRole.consultations, EnumAccessLevel.write)) {
                    <i class="remove mdi mdi-close-circle-outline text-primary" onclick="removeSymptom('@_ConsultationSymptom.ConsultationSymptomID', '@_ConsultationSymptom.SymptomID');"></i>
                }
            </li>
        }
    }
</ul>