﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Operation
@{
    Page.Title = "View Operation " + (Model.OperationID != Guid.Empty ? "" : "- " + Model.Patient.PatientNo);
    Page.HeaderIcon = "mdi-hospital";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="OperationID" id="OperationID" value="@(Model.OperationID == Guid.Empty ? Guid.NewGuid() : Model.OperationID)">
                <div class="row">
                    <div class="col-md-8">
                        @if (Model.OperationID != Guid.Empty) {
                            <div class="form-group">
                                <a class="btn btn-gradient-info mr-2" download="@(Constant.OPERATION_CONSENT_FORM_PATH)"
                                   href="/@(Constant.RESOURCES_FOLDER_NAME + Constant.OPERATION_CONSENT_FORM_PATH)">
                                    <i class="mdi mdi-cloud-download menu-icon"></i> Operation Consent
                                </a>
                                <button type="button" onclick="downloadFileFromRequest('/Operation/DownloadCard/?_Guid=@Model.OperationID');" class="btn btn-gradient-info mr-2"><i class="mdi mdi-cloud-download menu-icon"></i> Operation Card</button>
                                <a class="btn btn-danger" href="/Operation/List">Cancel</a>
                            </div>
                        }
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <label class="d-block text-black">@string.Concat(Model.Patient.Surname, " ", Model.Patient.Name)</label>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="name">Doctor:</label>
                        <label class="d-block text-black">@string.Concat(Model.Doctor.Surname, " ", Model.Doctor.Name)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.Date.ToString(), false, true)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Premedication">Premedication:</label>
                            <label class="d-block text-black">@Model.Premedication</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="OperationName">Operation Name:</label>
                            <label class="d-block text-black">@Model.OperationName</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Anaesthetic">Anaesthetic:</label>
                            <label class="d-block text-black">@Model.Anaesthetic</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="name">Surgeon:</label>
                        <label class="d-block text-black">@string.Concat(Model.Surgeon.Surname, " ", Model.Surgeon.Name)</label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="name">Assistant Surgeon:</label>
                        <label class="d-block text-black">@string.Concat(Model.AssistantSurgeon.Surname, " ", Model.AssistantSurgeon.Name)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="name">Anaesthetist:</label>
                        <label class="d-block text-black">@string.Concat(Model.Anaesthetist.Surname, " ", Model.Anaesthetist.Name)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="StartTime">Start Time:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.StartTime.ToString(), false, false)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="EndTime">EndTime:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.EndTime.ToString(), false, false)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Remarks">Remarks:</label>
                            <label class="d-block text-black">@Model.Remarks</label>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <div class="row col-md-8" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="/Operation/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshFileList() {
            getListFiles($("#OperationID").val(), '@((int)EnumFileEntityType.operation)');
        }

        $(function () {
            updateMenuItemAsActive('operation_link');
            @if (Model.OperationID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
    </script>
}