﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Operation
@{
    Page.Title = "Operation " + (Model.OperationID == Guid.Empty ? "" : "- " + Model.Patient.PatientNo);
    Page.HeaderIcon = "mdi-hospital";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="OperationID" id="OperationID" value="@(Model.OperationID == Guid.Empty ? Guid.NewGuid() : Model.OperationID)">
                <div class="row">
                    <div class="col-md-8">
                        @if (Model.OperationID != Guid.Empty) {
                            <div class="form-group">
                                <a class="btn btn-gradient-info mr-2" download="@(Constant.OPERATION_CONSENT_FORM_PATH)"
                                   href="/@(Constant.RESOURCES_FOLDER_NAME + Constant.OPERATION_CONSENT_FORM_PATH)">
                                    <i class="mdi mdi-cloud-download menu-icon"></i> Operation Consent
                                </a>
                                <button type="button" onclick="downloadFileFromRequest('/Operation/DownloadCard/?_Guid=@Model.OperationID');" class="btn btn-gradient-info mr-2"><i class="mdi mdi-cloud-download menu-icon"></i> Operation Card</button>
                                <a class="btn btn-danger" href="/Operation/List">Cancel</a>
                            </div>
                        } else {
                            <div class="form-group">
                                <a class="btn btn-danger" href="/Operation/List">Cancel</a>
                            </div>
                        }
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <select class="form-control" id="PatientID" name="PatientID" style="width:auto">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Patient>.getSelectData(Model.PatientID.ToString(), "-- Select Patient --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="name">Doctor:</label>
                        <select class="form-control" id="DoctorID" name="DoctorID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.DoctorID.ToString(), "-- Select Doctor --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <input class="form-control" name="Date" id="Date" placeholder="dd/mm/yyyy" style="width:105px" value="@Conv.toDate( Model.OperationID != Guid.Empty ? Model.Date.ToString() : DateTime.Today.ToString(), false, true)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Premedication">Premedication:</label>
                            <input type="text" class="form-control" id="Premedication" name="Premedication" placeholder="Premedication" value="@Model.Premedication">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="OperationName">Operation Name:</label>
                            <input type="text" class="form-control" id="OperationName" name="OperationName" placeholder="Operation Name" value="@Model.OperationName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Anaesthetic">Anaesthetic:</label>
                            <input type="text" class="form-control" id="Anaesthetic" name="Anaesthetic" placeholder="Anaesthetic" value="@Model.Anaesthetic">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="name">Surgeon:</label>
                        <select class="form-control" id="SurgeonID" name="SurgeonID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.SurgeonID.ToString(), "-- Select Surgeon --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="name">Assistant Surgeon:</label>
                        <select class="form-control" id="AssistantSurgeonID" name="AssistantSurgeonID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.AssistantSurgeonID.ToString(), "-- Select Assistant Surgeon --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="name">Anaesthetist:</label>
                        <select class="form-control" id="AnaesthetistID" name="AnaesthetistID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.AnaesthetistID.ToString(), "-- Select Anaesthetist --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="StartTime">Start Time:</label>
                            <input class="form-control" name="StartTime" id="StartTime" placeholder="dd/mm/yyyy HH:mm" style="width:145px" value="@Conv.toDate( Model.OperationID != Guid.Empty ? Model.StartTime.ToString() : DateTime.Now.ToString(), false, false)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="EndTime">EndTime:</label>
                            <input class="form-control" name="EndTime" id="EndTime" placeholder="dd/mm/yyyy HH:mm" style="width:145px" value="@Conv.toDate( Model.OperationID != Guid.Empty ? Model.EndTime.ToString() : DateTime.Now.AddHours(1).ToString(), false, false)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Remarks">Remarks:</label>
                            <input type="text" class="form-control" id="Remarks" name="Remarks" placeholder="Remarks" value="@Model.Remarks">
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <label class="font-weight-bold" id="files_section_new" style="color:#76838f; display: none;">Upload New:</label>
            <div class="row" id="files_section_upload" style="display: none;">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" method="post">
                        <div class="uploadButton margin-top-0">
                            <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input" onchange="uploadOnSelect( '@(( int )EnumFileEntityType.operation)', 'upload', '@Model.OperationID');" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_operation)', '@("/Operation/Save/")','form_save')">Submit</button>
                    <a class="btn btn-danger" href="/Operation/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshFileList() {
            getListFiles($("#OperationID").val(), '@((int)EnumFileEntityType.operation)');
        }

        $(function () {
            $("#PatientID").focus();
            updateMenuItemAsActive('operation_link');
            $('#Date').datetimepicker({ format: 'dd/mm/yyyy', minView: 2, pickTime: false });
            $('#StartTime').datetimepicker({ format: 'dd/mm/yyyy HH:ii' });
            $('#EndTime').datetimepicker({ format: 'dd/mm/yyyy HH:ii' });
            @if (Model.OperationID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
         $(document).on('keypress', function (e) {
            if (e.which == 13) {
                handleRequest('@((int)EnumRequestType.save_operation)', '@("/Operation/Save/")', 'form_save');
            }
        });
    </script>
}