﻿@using PatientRegister.Models;
@model IEnumerable<Operation>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient No.</th>
            <th>Medical Aid</th>
            <th>Date</th>
            <th>Operation name</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.operations, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (Operation _Operation in Model) {
                <tr>
                    <td><a href="/Operation/@_sPage/@_Operation.OperationID">@(string.Concat(_Operation.Patient.Surname, " ", _Operation.Patient.Name))</a></td>
                    <td> @_Operation.Patient.PatientNo</td>
                    <td> @(_Operation.Patient.MedicalAidCompany != null && _Operation.Patient.MedicalAidCompany.MedicalAidCompanyID != Guid.Empty ? _Operation.Patient.MedicalAidCompany.Name : "N/A")</td>
                    <td> @Conv.toDate(_Operation.Date.ToString(), false, true)</td>
                    <td> @_Operation.OperationName</td>
                    <td> @(Conv.toNum(_Operation.EndTime.Subtract(_Operation.StartTime).TotalMinutes.ToString(), _iDec: 0)) minutes</td>
                </tr>
            }
        }
    </tbody>
</table>
