﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@{
    Page.Title = "Medical Aid Companies";
    Page.HeaderIcon = "mdi-contain";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-12">
                        @if (UserSession.hasAccessTo(EnumUserRole.medical_aid_company, EnumAccessLevel.write)) {
                            <a class="btn btn-gradient-info" href="/MedicalAidCompany/Create">Add New</a>
                        }
                        <select class="form-control d-inline" id="StatusID" name="StatusID" style="width:120px" onchange="refreshList();">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<Status>.getSelectData("", "", new List<int> { ((int)EnumStatus.deleted) })) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                        <input type="text" class="form-control bg-transparent d-inline w-50" placeholder="Search Medical Aid Company..." id="SearchText" onkeyup="refreshList();">
                        <a href="#" onclick="refreshList();">refresh</a> •
                        <a href="#" id="download_pdf">pdf</a> • 
                        <a href="#" id="download_excel">excel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3" id="SearchResult">
                        <p>Loading records...</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshList() {
            var Data = {
                StatusID: $("#StatusID").val(),
                SearchText: $("#SearchText").val(),
            };
            handleRequest('@((int)EnumRequestType.get_list)', '@("/MedicalAidCompany/ListView/")', Data);
        }
        $(function () {
             updateMenuItemAsActive('content_link');
            updateMenuItemAsActive('medical_aid_company_link');
            refreshList();
            $("#SearchText").focus();
            $("#download_excel").on("click", function () {
                  var Data = {
                    StatusID: $("#StatusID").val(),
                    SearchText: $("#SearchText").val(),
                };
                downloadFileFromRequest("/MedicalAidCompany/DownloadExcel/", Data);
            });
            $("#download_pdf").on("click", function () {
                 var Data = {
                    StatusID: $("#StatusID").val(),
                    SearchText: $("#SearchText").val(),
                };
                downloadFileFromRequest("/MedicalAidCompany/DownloadPdf/", Data);
            });
        });
         $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                refreshList();
            }
        });
    </script>
}