﻿@model PatientRegister.Models.Patient
@{
    Page.Title = "View Patient Information " + (Model.PatientID == Guid.Empty ? "" : "- " + Model.PatientNo);
    Page.HeaderIcon = "mdi-human";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="PatientID" id="PatientID" value="@(Model.PatientID == Guid.Empty ? Guid.NewGuid() : Model.PatientID)">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <a class="btn btn-danger" href="/Patient/List">Cancel</a>
                        </div>
                    </div>
                </div>
                <p class="card-description">Personal Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Status:</label>
                            <label class="d-block text-black">@Model.Status.Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient No.:</label>
                            <label class="form-control d-block border-0 p-0" style="color:#000">@Model.PatientNo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <label class="d-block text-black">@Model.Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Surname">Surname:</label>
                            <label class="d-block text-black">@Model.Surname</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Gender:</label>
                            <label class="d-block text-black">@Model.Gender.Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DateOfBirth">Date of Birth:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.DateOfBirth.ToString(), false, true)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IDNumber">ID No:</label>
                            <label class="d-block text-black">@Model.IDNumber</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="PostalAddress">Postal Address:</label>
                            <label class="d-block text-black">@Model.PostalAddress</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ResidentialAddress">Residential Address:</label>
                            <label class="d-block text-black">@Model.ResidentialAddress</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="HomeTel">Tel. (Home):</label>
                            <label class="d-block text-black">@Model.HomeTel</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="WorkTel">Tel. (Work):</label>
                            <label class="d-block text-black">@Model.WorkTel</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CellNo">Tel. (Cell):</label>
                            <label class="d-block text-black">@Model.CellNo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <label class="d-block text-black">@Model.Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CommunicationOptionID">Communication Option:</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.none)" disabled
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.none || Model.PatientID == Guid.Empty) { @Html.Raw(" checked") }> None
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.sms)" disabled
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.sms) { @Html.Raw(" checked") }> SMS
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.email)" disabled
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.email) { @Html.Raw(" checked") }> Email
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.sms_and_email)" disabled
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.sms_and_email) { @Html.Raw(" checked") }> SMS and Email
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Occupation">Occupation:</label>
                            <label class="d-block text-black">@Model.Occupation</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Employer">Employer:</label>
                            <label class="d-block text-black">@Model.Employer</label>
                        </div>
                    </div>
                </div>
                <p class="card-description">Medical Aid Detail </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Company:</label>
                            <label class="d-block text-black">@(Model.MedicalAidCompany != null ? Model.MedicalAidCompany.Name : "")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberIDNo">Main Member Name:</label>
                            <label class="d-block text-black">@Model.MedicalAidMainMemberName</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberIDNo">Main Member ID No.:</label>
                            <label class="d-block text-black">@Model.MedicalAidMainMemberIDNo</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidNo">Medical Aid No.:</label>
                            <label class="d-block text-black">@Model.MedicalAidNo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberOccupation">Main Member Occupation:</label>
                            <label class="d-block text-black">@Model.MedicalAidMainMemberOccupation</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberPhone">Main Member Contact No.:</label>
                            <label class="d-block text-black">@Model.MedicalAidMainMemberPhone</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Relationship with Main Member:</label>
                            <label class="d-block text-black">@(Model.MedicalAidMainRelationship != null ? Model.MedicalAidMainRelationship.Name : "")</label>
                        </div>
                    </div>
                </div>
                <p class="card-description">Emergency Contact</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="EmergencyContactName">Name:</label>
                            <label class="d-block text-black">@(Model.MedicalAidMainRelationship != null ? Model.MedicalAidMainRelationship.Name : "")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="EmergencyContactPhone">Contact Number:</label>
                            <label class="d-block text-black">@Model.EmergencyContactPhone</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Relationship with Contact:</label>
                            <label class="d-block text-black">@(Model.EmergencyContactRelationship != null ? Model.EmergencyContactRelationship.Name : "")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="/Patient/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
            function refreshFileList() {
                getListFiles($("#PatientID").val(), '@((int)EnumFileEntityType.patient)');
            }
        $(function () {
            updateMenuItemAsActive('patient_link');
            @if (Model.PatientID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
    </script>
}