﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Patient
@{
    Page.Title = "Patient Information " + (Model.PatientID == Guid.Empty ? "" : "- " + Model.PatientNo);
    Page.HeaderIcon = "mdi-human";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="PatientID" id="PatientID" value="@(Model.PatientID == Guid.Empty ? Guid.NewGuid() : Model.PatientID)">
                <div class="row">
                    <div class="col-md-4">
                        <label>History:</label><br />
                        <div class="form-group pt-2">
                            @if (Model.PatientID != Guid.Empty) {
                                @:<a href="#" class="auth-link">consultations</a> •
                                @:<a href="#" class="auth-link">prescriptions</a> •
                                @:<a href="#" class="auth-link">operations</a>
                            } else {
                                <label class="form-control d-block border-0 p-0 m-0" style="color:#000">More options will appear here, after you save the record.</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-8">
                        @if (Model.PatientID != Guid.Empty) {
                            @*<label>Add New:</label><br />*@
                            <div class="form-group">
                                @*<button type="submit" class="btn btn-gradient-info mr-2"> <i class="mdi mdi-hospital-building menu-icon"></i> Consultation</button>
                                    <button type="submit" class="btn btn-gradient-info mr-2"><i class="mdi mdi-hospital menu-icon"></i> Operation</button>
                                    <button type="submit" class="btn btn-gradient-info mr-2"><i class="mdi mdi-format-letter-case menu-icon"></i> Prescription</button>
                                    <button type="submit" class="btn btn-gradient-info mr-2"><i class="mdi mdi-send menu-icon"></i> Referral</button>*@
                                <a class="btn btn-danger" href="/Patient/List">Cancel</a>
                            </div>
                        } else {
                            <div class="form-group text-right">
                                <a class="btn btn-danger" href="/Patient/List">Cancel</a>
                            </div>
                        }
                    </div>
                </div>
                <p class="card-description">Personal Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Status:</label>
                            <select class="form-control" id="StatusID" name="StatusID" style="width:120px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Status>.getSelectData(Model.StatusID.ToString(), "", new List<int> { ((int)EnumStatus.deleted) })) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient No.:</label>
                            <label class="form-control d-block border-0 p-0" style="color:#000">@(Model.PatientID == Guid.Empty ? "Will be auto-generated" : Model.PatientNo.ToString())</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Surname">Surname:</label>
                            <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Surname" value="@Model.Surname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Gender:</label>
                            <select class="form-control" id="GenderID" name="GenderID" style="width:120px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Gender>.getSelectData(Model.GenderID.ToString(), "- Select Gender --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DateOfBirth">Date of Birth:</label>
                            <input class="form-control" name="DateOfBirth" id="DateOfBirth" placeholder="Date of Birth" style="width:105px" value="@Conv.toDate(Model.DateOfBirth.ToString(), false, true)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IDNumber">ID No:</label>
                            <input type="text" class="form-control" id="IDNumber" name="IDNumber" placeholder="ID No." value="@Model.IDNumber">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="PostalAddress">Postal Address:</label>
                            <input type="text" class="form-control" id="PostalAddress" name="PostalAddress" placeholder="Postal Address" value="@Model.PostalAddress">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ResidentialAddress">Residential Address:</label>
                            <input type="text" class="form-control" id="ResidentialAddress" name="ResidentialAddress" placeholder="Residential Address" value="@Model.ResidentialAddress">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="HomeTel">Tel. (Home):</label>
                            <input type="text" class="form-control" id="HomeTel" name="HomeTel" placeholder="Tel. (Home)" value="@Model.HomeTel">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="WorkTel">Tel. (Work):</label>
                            <input type="text" class="form-control" id="WorkTel" name="WorkTel" placeholder="Tel. (Work)" value="@Model.WorkTel">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CellNo">Tel. (Cell):</label>
                            <input type="text" class="form-control" id="CellNo" name="CellNo" placeholder="Tel. (Cell)" value="@Model.CellNo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" value="@Model.Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CommunicationOptionID">Communication Option:</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.none)"
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.none || Model.PatientID == Guid.Empty) { @Html.Raw(" checked") }> None
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.sms)"
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.sms) { @Html.Raw(" checked") }> SMS
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.email)"
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.email) { @Html.Raw(" checked") }> Email
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="CommunicationOptionID" value="@((int)EnumCommunicationOption.sms_and_email)"
                                               @if (Model.CommunicationOptionID == (int)EnumCommunicationOption.sms_and_email) { @Html.Raw(" checked") }> SMS and Email
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Occupation">Occupation:</label>
                            <input type="text" class="form-control" id="Occupation" name="Occupation" placeholder="Occupation" value="@Model.Occupation">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Employer">Employer:</label>
                            <input type="text" class="form-control" id="Employer" name="Employer" placeholder="Employer" value="@Model.Employer">
                        </div>
                    </div>
                </div>
                <p class="card-description">Medical Aid Detail </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Company:</label>
                            <select class="form-control" id="MedicalAidCompanyID" name="MedicalAidCompanyID" style="width:auto">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<MedicalAidCompany>.getSelectData(Model.MedicalAidCompanyID.ToString(), "-- Select Company --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberIDNo">Main Member Name:</label>
                            <input type="text" class="form-control" id="MedicalAidMainMemberIDNo" name="MedicalAidMainMemberIDNo" placeholder="Main Member Name" value="@Model.MedicalAidMainMemberIDNo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberIDNo">Main Member ID No.:</label>
                            <input type="text" class="form-control" id="MedicalAidMainMemberIDNo" name="MedicalAidMainMemberIDNo" placeholder="Main Member ID No." value="@Model.MedicalAidMainMemberIDNo">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidNo">Medical Aid No.:</label>
                            <input type="text" class="form-control" id="MedicalAidNo" name="MedicalAidNo" placeholder="Medical Aid No." value="@Model.MedicalAidNo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberOccupation">Main Member Occupation:</label>
                            <input type="text" class="form-control" id="MedicalAidMainMemberOccupation" name="MedicalAidMainMemberOccupation" placeholder="Main Member Occupation" value="@Model.MedicalAidMainMemberOccupation">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MedicalAidMainMemberPhone">Main Member Contact No.:</label>
                            <input type="text" class="form-control" id="MedicalAidMainMemberPhone" name="MedicalAidMainMemberPhone" placeholder="Main Member Contact No" value="@Model.MedicalAidMainMemberPhone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Relationship with Main Member:</label>
                            <select class="form-control" id="MedicalAidMainMemberRelationshipID" name="MedicalAidMainMemberRelationshipID" style="width:120px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<PersonRelationship>.getSelectData(Model.MedicalAidMainMemberRelationshipID.ToString(), "-- Select Relationship --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <p class="card-description">Emergency Contact</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="EmergencyContactName">Name:</label>
                            <input type="text" class="form-control" id="EmergencyContactName" name="EmergencyContactName" placeholder="Name" value="@Model.EmergencyContactName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="EmergencyContactPhone">Contact Number:</label>
                            <input type="text" class="form-control" id="EmergencyContactPhone" name="EmergencyContactPhone" placeholder="Contact Number" value="@Model.EmergencyContactPhone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Relationship with Contact:</label>
                            <select class="form-control" id="EmergencyContactRelationshipID" name="EmergencyContactRelationshipID" style="width:120px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<PersonRelationship>.getSelectData(Model.EmergencyContactRelationshipID.ToString(), "- Select Relationship --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <label class="font-weight-bold" id="files_section_new" style="color:#76838f; display: none;">Upload New:</label>
            <div class="row" id="files_section_upload" style="display: none;">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" method="post">
                        <div class="uploadButton margin-top-0">
                            <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input" onchange="uploadOnSelect( '@(( int )EnumFileEntityType.patient)', 'upload', '@Model.PatientID');" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_patient)', '@("/Patient/Save/")','form_save')">Submit</button>
                    <a class="btn btn-danger" href="/Patient/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
            function refreshFileList() {
                getListFiles($("#PatientID").val(), '@((int)EnumFileEntityType.patient)');
            }
        $(function () {
             $("#Name").focus();
            updateMenuItemAsActive('patient_link');
              $('#DateOfBirth').datetimepicker({ format: 'dd/mm/yyyy', minView: 2, pickTime: false });
            @if (Model.PatientID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.save_patient)', '@("/Patient/Save/")', 'form_save');
            }
        });
    </script>
}