﻿@using PatientRegister.Models;
@model IEnumerable<Patient>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Patient No.</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Medical Aid</th>
            <th>Contact No.</th>
            <th>Emergency Contact No.</th>
            <th>Status</th>
            @*<th>Last Consultation</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.patients, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (Patient _Patient in Model) {
                <tr>
                    <td><a href="/Patient/@_sPage/@_Patient.PatientID">@(string.Concat(_Patient.Surname, " ", _Patient.Name))</a></td>
                    <td> @_Patient.PatientNo</td>
                    <td> @_Patient.Gender.Name</td>
                    <td> @((int)(DateTime.Today.Subtract(_Patient.DateOfBirth).TotalDays / 365))</td>
                    <td> @(_Patient.MedicalAidCompany != null && _Patient.MedicalAidCompany.MedicalAidCompanyID != Guid.Empty ? _Patient.MedicalAidCompany.Name : "N/A")</td>
                    <td> @_Patient.CellNo</td>
                    <td> @_Patient.EmergencyContactPhone</td>
                    <td> @_Patient.Status.Name</td>
                </tr>
            }
        }
    </tbody>
</table>
