﻿@model PatientRegister.Models.Referral
@{
    Page.Title = "View Referral" + (Model.ReferralID == Guid.Empty ? "" : " for " + Model.Patient.PatientNo);
    Page.HeaderIcon = "mdi-send";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="ReferralID" id="ReferralID" value="@(Model.ReferralID == Guid.Empty ? Guid.NewGuid() : Model.ReferralID)">
                <div class="row">
                    <div class="col-md-8">
                        <button type="button" onclick="downloadFileFromRequest('/Referral/DownloadLetter/?_Guid=@Model.ReferralID');" class="btn btn-gradient-info mr-2"> <i class="mdi mdi-cloud-download menu-icon"></i> Referral Letter</button>
                        <a class="btn btn-danger" href="/Referral/List">Cancel</a>
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <label class="d-block text-black">@string.Concat(Model.Patient.Surname, " ", Model.Patient.Name)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Doctor:</label>
                        <label class="d-block text-black">@string.Concat(Model.Doctor.Surname, " ", Model.Doctor.Name)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.Date.ToString(), false, true)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ReferredToDoctor">Referred To Doctor:</label>
                            <label class="d-block text-black">@Model.ReferredToDoctor</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="History">History:</label>
                            <label class="d-block text-black">@Model.History</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Weight">Examination and Investigation Performed:</label>
                            <label class="d-block text-black">@Model.ExaminationAndInvestigation</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="SummaryComment">Summary Comment:</label>
                            <label class="d-block text-black">@Model.SummaryComment</label>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="/Referral/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshFileList() {
            getListFiles($("#ReferralID").val(), '@((int)EnumFileEntityType.referral)');
        }

        $(function () {
            updateMenuItemAsActive('referral_link');
            @if (Model.ReferralID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
    </script>
}