﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Referral
@{
    Page.Title = "Referral" + (Model.ReferralID == Guid.Empty ? "" : " for " + Model.Patient.PatientNo);
    Page.HeaderIcon = "mdi-send";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="ReferralID" id="ReferralID" value="@(Model.ReferralID == Guid.Empty ? Guid.NewGuid() : Model.ReferralID)">
                <div class="row">
                    <div class="col-md-8">
                        @if (Model.ReferralID != Guid.Empty) {
                            <div class="form-group">
                                <button type="button" onclick="downloadFileFromRequest('/Referral/DownloadLetter/?_Guid=@Model.ReferralID');" class="btn btn-gradient-info mr-2"> <i class="mdi mdi-cloud-download menu-icon"></i> Referral Letter</button>
                                <a class="btn btn-danger" href="/Referral/List">Cancel</a>
                            </div>
                        } else {
                            <div class="form-group">
                                <a class="btn btn-danger" href="/Referral/List">Cancel</a>
                            </div>
                        }
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <select class="form-control" id="PatientID" name="PatientID" style="width:auto">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Patient>.getSelectData(Model.PatientID.ToString(), "-- Select Patient --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Doctor:</label>
                        <select class="form-control" id="DoctorID" name="DoctorID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.DoctorID.ToString(), "-- Select Doctor --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <input class="form-control" name="Date" id="Date" placeholder="dd/mm/yyyy" style="width:105px" value="@Conv.toDate( Model.ReferralID != Guid.Empty ? Model.Date.ToString() : DateTime.Today.ToString(), false, true)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ReferredToDoctor">Referred To Doctor:</label>
                            <input type="text" class="form-control" id="ReferredToDoctor" name="ReferredToDoctor" placeholder="Referred To Doctor" value="@Model.ReferredToDoctor">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="History">History:</label>
                            <input type="text" class="form-control" id="History" name="History" placeholder="History" value="@Model.History">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Weight">Examination and Investigation Performed:</label>
                            <input type="text" class="form-control" id="ExaminationAndInvestigation" name="ExaminationAndInvestigation" placeholder="Examination and Investigation Performed" value="@Model.ExaminationAndInvestigation">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="SummaryComment">Summary Comment:</label>
                            <input type="text" class="form-control" id="SummaryComment" name="SummaryComment" placeholder="Summary Comment" value="@Model.SummaryComment">
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <label class="font-weight-bold" id="files_section_new" style="color:#76838f; display: none;">Upload New:</label>
            <div class="row" id="files_section_upload" style="display: none;">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" method="post">
                        <div class="uploadButton margin-top-0">
                            <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input" onchange="uploadOnSelect( '@(( int )EnumFileEntityType.referral)', 'upload', '@Model.ReferralID');" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_referral)', '@("/Referral/Save/")','form_save')">Submit</button>
                    <a class="btn btn-danger" href="/Referral/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function refreshFileList() {
            getListFiles($("#ReferralID").val(), '@((int)EnumFileEntityType.referral)');
        }

        $(function () {
            $("#PatientID").focus();
            updateMenuItemAsActive('referral_link');
            $('#Date').datetimepicker({  format: 'dd/mm/yyyy', minView: 2, pickTime: false });
            @if (Model.ReferralID != Guid.Empty) {
               @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
         $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.save_referral)', '@("/Referral/Save/")', 'form_save');
            }
        });
    </script>
}