﻿@using PatientRegister.Models;
@model IEnumerable<Referral>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient No.</th>
            <th>Medical Aid</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Referred to Doctor</th>
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.referrals, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (Referral _Referral in Model) {
                <tr>
                    <td><a href="/Referral/@_sPage/@_Referral.ReferralID">@(string.Concat(_Referral.Patient.Surname, " ", _Referral.Patient.Name))</a></td>
                    <td> @_Referral.Patient.PatientNo</td>
                    <td> @(_Referral.Patient.MedicalAidCompany != null && _Referral.Patient.MedicalAidCompany.MedicalAidCompanyID != Guid.Empty ? _Referral.Patient.MedicalAidCompany.Name : "N/A")</td>
                    <td> @Conv.toDate(_Referral.Date.ToString())</td>
                    <td> @(string.Concat(_Referral.Doctor.Surname, " ", _Referral.Doctor.Name))</td>
                    <td> @_Referral.ReferredToDoctor</td>
                </tr>
            }
        }
    </tbody>
</table>
