﻿<div class="row text-danger" style="margin-top: 15%;">
    <div class="offset-3"></div>
    <div class="col-6">
        <h1 class="mb-0 d-block font-weight-bold"" style="font-size:40px;">Internal Error</h1><br />
    </div>
</div>
<div class="row text-danger mt-0">
    <div class="offset-3"></div>
    <div class="col-6">
        <h3 class="d-block"><br />Ooops :-/</h3>
    </div>
    <div class="offset-4"></div>
</div>
<div class="row text-danger">
    <div class="offset-3"></div>
    <div class="col-6">
        <h3 class="font-weight-light d-block">There was an internal error. A notification about it has already been sent to us.</h3>
    </div>
    <div class="offset-4"></div>
</div>
