﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Symptom
@{
    Page.Title = "Health Symptom";
    Page.HeaderIcon = "mdi-contain";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form" id="form_save">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" name="SymptomID" id="SymptomID" value="@(Model.SymptomID == Guid.Empty ? Guid.NewGuid() : Model.SymptomID)">
                            <label for="name">Status:</label>
                            <select class="form-control" id="StatusID" name="StatusID" style="width:120px">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Status>.getSelectData(Model.StatusID.ToString(), "", new List<int> { ((int)EnumStatus.deleted) })) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_symptom)', '@("/Symptom/Save/")','form_save')">Submit</button>
                        <a class="btn btn-danger" href="/Symptom/List">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            updateMenuItemAsActive('content_link');
            updateMenuItemAsActive('symptom_link');
            $("#Name").focus();
        });
          $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.save_symptom)', '@("/Symptom/Save/")', 'form_save');
            }
        });
    </script>
}