﻿@model PatientRegister.Models.Prescription
@{
    Page.Title = "View Prescription" + (Model.PrescriptionID == Guid.Empty ? "" : " for " + Model.Patient.PatientNo);
    Page.HeaderIcon = "mdi-format-letter-case";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="PrescriptionID" id="PrescriptionID" value="@(Model.PrescriptionID == Guid.Empty ? Guid.NewGuid() : Model.PrescriptionID)">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <button type="button" onclick="downloadFileFromRequest('/Prescription/Download/?_Guid=@Model.PrescriptionID');" class="btn btn-gradient-info mr-2"><i class="mdi mdi-cloud-download menu-icon"></i> Prescription</button>
                            <a class="btn btn-danger" href="/Prescription/List">Cancel</a>
                        </div>
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <label class="d-block text-black">@string.Concat(Model.Patient.Surname, " ", Model.Patient.Name)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Doctor:</label>
                        <label class="d-block text-black">@string.Concat(Model.Doctor.Surname, " ", Model.Doctor.Name)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <label class="d-block text-black">@Conv.toDate(Model.Date.ToString(), false, true)</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="MedicationBlock" style="display:none;">
                    <div class="col-md-12 stretch-card pl-0 ml-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description">Medication</h4>
                                <div class="list-wrapper" id="MedicationList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="/Prescription/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
         function refreshFileList() {
                getListFiles($("#PrescriptionID").val(), '@((int)EnumFileEntityType.prescription)');
        }

        $(function () {
            updateMenuItemAsActive('prescription_link');
            @if (Model.PrescriptionID != Guid.Empty) {
                 @Html.Raw(@"$('#MedicationBlock').fadeIn(); getListPrescriptionMedication();")
                @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
        });
    </script>
}