﻿@using PatientRegister.Models;
@using PatientRegister.Repositories;
@model PatientRegister.Models.Prescription
@{
    Page.Title = "Prescription" + (Model.PrescriptionID == Guid.Empty ? "" : " for " + Model.Patient.PatientNo);
    Page.HeaderIcon = "mdi-format-letter-case";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" id="form_save">
                <input type="hidden" name="PrescriptionID" id="PrescriptionID" value="@(Model.PrescriptionID == Guid.Empty ? Guid.NewGuid() : Model.PrescriptionID)">
                <div class="row">
                    <div class="col-md-8">
                        @if (Model.PrescriptionID != Guid.Empty) {
                            <div class="form-group">
                                <button type="button" onclick="downloadFileFromRequest('/Prescription/Download/?_Guid=@Model.PrescriptionID');" class="btn btn-gradient-info mr-2"><i class="mdi mdi-cloud-upload menu-icon"></i> Prescription</button>
                                <a class="btn btn-danger" href="/Prescription/List">Cancel</a>
                            </div>
                        } else {
                            <div class="form-group">
                                <a class="btn btn-danger" href="/Prescription/List">Cancel</a>
                            </div>
                        }
                    </div>
                </div>
                <p class="card-description">General Information</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Patient:</label>
                            <select class="form-control" id="PatientID" name="PatientID" style="width:auto">
                                @{
                                    foreach (SelectListItem _Item in LookupRepo<Patient>.getSelectData(Model.PatientID.ToString(), "-- Select Patient --")) {
                                        <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Doctor:</label>
                        <select class="form-control" id="DoctorID" name="DoctorID" style="width:auto">
                            @{
                                foreach (SelectListItem _Item in LookupRepo<UserClass>.getSelectData(Model.DoctorID.ToString(), "-- Select Doctor --")) {
                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Date:</label>
                            <input class="form-control" name="Date" id="Date" placeholder="dd/mm/yyyy" style="width:105px" value="@Conv.toDate( Model.PrescriptionID != Guid.Empty ? Model.Date.ToString() : DateTime.Today.ToString(), false, true)" />
                        </div>
                    </div>
                </div>
                <div class="row" id="MedicationBlock" style="display:none;">
                    <div class="col-md-12 stretch-card pl-0 ml-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-description">Medication</h4>
                                <div>
                                    <div class="form-group w-100">
                                        <label for="name" class="d-block">Select Medical item detail to add: </label>
                                        <select class="form-control d-inline" id="MedicationID" name="MedicationID" style="width:300px">
                                            @{
                                                string _sDisable = "";
                                                IEnumerable<PrescriptionMedication> _PrescriptionMedications = Model.getMedications();
                                                foreach (SelectListItem _Item in LookupRepo<MedicalStockItem>.getSelectData("", "-- Select Medication --")) {
                                                    _sDisable = (_PrescriptionMedications.ToList().Find(_RecX => _RecX.Deleted == (int)EnumYesNo.no && _RecX.MedicalStockItemID.ToString() == _Item.Value) == null ? "" : "disabled");
                                                    <option @_sDisable value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <input type="number" class="form-control d-inline" id="Quantity" name="Quantity" placeholder="Quantity" value="" style="width:100px">
                                        <select class="form-control d-inline" id="MeasurementUnitID" name="MeasurementUnitID" style="width:260px">
                                            @{
                                                foreach (SelectListItem _Item in LookupRepo<MeasurementUnit>.getSelectData("", "-- Measurement in..? --")) {
                                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <input type="number" class="form-control d-inline" id="TimeLength" name="TimeLength" placeholder="Dosage Period" value="" style="width:140px">
                                        <select class="form-control d-inline" id="TimeUnitID" name="TimeUnitID" style="width:200px">
                                            @{
                                                foreach (SelectListItem _Item in LookupRepo<TimeUnit>.getSelectData("", "-- Period in..? --")) {
                                                    <option value="@_Item.Value" selected="@_Item.Selected">@_Item.Text</option>
                                                }
                                            }
                                        </select>
                                        <button class="add btn btn-gradient-primary todo-list-add-btn" id="add-task" onclick="addPrescriptionMedication();">Add</button>
                                    </div>
                                </div>
                                <div class="list-wrapper" id="MedicationList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="card-description" id="files_section_title" style="display: none;">Files & Documents</p>
            <label class="font-weight-bold" id="files_section_new" style="color:#76838f; display: none;">Upload New:</label>
            <div class="row" id="files_section_upload" style="display: none;">
                <div class="col-md-8">
                    <form enctype="multipart/form-data" method="post">
                        <div class="uploadButton margin-top-0">
                            <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input" onchange="uploadOnSelect( '@(( int )EnumFileEntityType.prescription)', 'upload', '@Model.PrescriptionID');" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row col-md-8 mt-2" id="files_section_uploaded" style="display: none;">
                <div class="list-wrapper w-100" id="FileList">
                    <br /> Loading content...<br /><br /><br />
                </div>
            </div>
            <div class="row border-top pt-2">
                <div class="col-md-6">
                    <button type="button" class="btn btn-gradient-primary mr-2" onclick="handleRequest( '@((int)EnumRequestType.save_prescription)', '@("/Prescription/Save/")','form_save')">Submit</button>
                    <a class="btn btn-danger" href="/Prescription/List">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
         function refreshFileList() {
                getListFiles($("#PrescriptionID").val(), '@((int)EnumFileEntityType.prescription)');
        }

        $(function () {
            $("#PatientID").focus();
            updateMenuItemAsActive('prescription_link');
            $('#Date').datetimepicker({ format: 'dd/mm/yyyy', minView: 2, pickTime: false });
            @if (Model.PrescriptionID != Guid.Empty) {
                 @Html.Raw(@"$('#MedicationBlock').fadeIn(); getListPrescriptionMedication();")
                @Html.Raw( @"refreshFileList(); $('#files_section_title').fadeIn(); $('#files_section_upload').fadeIn(); $('#files_section_uploaded').fadeIn(); $('#files_section_new').fadeIn();" );
            }
            $("#MedicationID").val('');
            $("#Quantity").val('');
            $("#MeasurementUnitID").val('');
            $("#TimeLength").val('');
            $("#TimeUnitID").val('');
        });
         $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                handleRequest('@((int)EnumRequestType.save_prescription)', '@("/Prescription/Save/")', 'form_save');
            }
        });
    </script>
}