﻿@using PatientRegister.Models;
@model IEnumerable<Prescription>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records match the selected filter.</p>")
        return;
    }
}
<div class="text-gray mb-2">Displaying @Model.Count() record(s)</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient No.</th>
            <th>Medical Aid</th>
            <th>Date</th>
            <th>Doctor</th>
        </tr>
    </thead>
    <tbody>
        @{
            string _sPage = "Detail";
            if (UserSession.hasAccessTo(EnumUserRole.prescriptions, EnumAccessLevel.write)) {
                _sPage = "Edit";
            }
            foreach (Prescription _Prescription in Model) {
                <tr>
                    <td><a href="/Prescription/@_sPage/@_Prescription.PrescriptionID">@(string.Concat(_Prescription.Patient.Surname, " ", _Prescription.Patient.Name))</a></td>
                    <td> @_Prescription.Patient.PatientNo</td>
                    <td> @(_Prescription.Patient.MedicalAidCompany != null && _Prescription.Patient.MedicalAidCompany.MedicalAidCompanyID != Guid.Empty ? _Prescription.Patient.MedicalAidCompany.Name : "N/A")</td>
                    <td> @Conv.toDate(_Prescription.Date.ToString(), false, true)</td>
                    <td> @(string.Concat(_Prescription.Doctor.Surname, " ", _Prescription.Doctor.Name))</td>
                </tr>
            }
        }
    </tbody>
</table>
