﻿@using PatientRegister.Models;
@model IEnumerable<PrescriptionMedication>
@{
    Layout = null;
    if (Model == null || Model.Count() == 0) {
        @Html.Raw("<p class=\"text-warning\">No records.</p>")
        return;
    }
}
<ul class="d-flex flex-column-reverse todo-list todo-list-custom">
    @{
        foreach (PrescriptionMedication _PrescriptionMedication in Model) {
            <li>
                <label style="width:85%;" class="mb-0">
                    @_PrescriptionMedication.MedicalStockItem.Name: @_PrescriptionMedication.Quantity @_PrescriptionMedication.MeasurementUnit.Name.ToLower() for @_PrescriptionMedication.TimeLength @_PrescriptionMedication.TimeUnit.Name.ToLower()
                </label>
                @if (UserSession.hasAccessTo(EnumUserRole.prescriptions, EnumAccessLevel.write)) {
                    <i class="remove mdi mdi-close-circle-outline text-primary" onclick="removePrescriptionMedication('@_PrescriptionMedication.PrescriptionMedicationID', '@_PrescriptionMedication.MedicalStockItemID');"></i>
                }
            </li>
        }
    }
</ul>